

services:
  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    env_file: .env
    volumes:
      - static_volume:/app/static
    depends_on:
      - redis

  celery:
    build: .
    command: celery -A config worker -l info
    env_file: .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine

volumes:
  static_volume:
