

services:
  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    env_file: .env
    restart: always
    ports:
      - "0.0.0.0:8000:8000"
    depends_on:
      - redis

  celery:
    build: .
    command: celery -A config worker -l info
    env_file: .env
    restart: always
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    restart: always
